.executionParametersFormWrapper {
    grid-column: 1/-1;
    width: auto;
    display: grid;
}


.alignRight {
    align-content: center;
}

.form-element {
    margin: 1em;
}

.pictureDialogButton {
}