.App {
    text-align: center;
}


body{
    background-color: #1c2826;
}

.header {
    grid-area: header;
    grid-column: 1/-1;
    margin-bottom: 30px;
}

.content1 {
    padding-top: 40px;
    grid-area: content1;
    background-color: #1c2826;
    ;
}

.content2 {
    background-image: url("https://i.imgur.com/9faF5Kc.jpg");
    grid-area: content2;
}

.footer {
    grid-area: footer;
    background-color: #070707;
}

.link {
    text-decoration: none;
}

.logoButton {
    background-image: url("https://i.imgur.com/ariQTzQ.png");
    background-size: 100%;
    grid-area: logobutton;
    background-position: center;
}

.dialogTitle {
}

.dialogProgress {
    align-self: center;
}

.unilogo {
    margin: 30px;
}

.gteclogo {
    margin: 20px;
}

.carousel-wrapper {
    align-self: center;
}

img {
    max-width:100%;
    max-height:100%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

a {
    text-decoration: none;
}
a:link, a:visited {
    color: #e3b505;
}
a:hover {
    color: #690500;
}